{% load static %}
<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulação</title>

    <link rel="icon" href="{% static 'images/logo-icon.png' %}" />

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animations.css' %}" />
    <link rel="stylesheet" href="{% static 'css/simulacao.css' %}" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav_bar_back">
      <div class="nav_bar">
        <div class="nav_title">
          <img src="{% static 'images/map-marker.svg' %}" alt="Happy">
          <h1 class="title">Projeto PAA - Só os brabos</h1>
        </div>
        <div class="nav_buttons">
          <a class="button_nav" href="/"><label>Upload de Arquivos</label></a>
          <a class="button_nav" href="/simulacao"><label>Simulação</label></a>
        </div>
      </div>
    </nav>
    <div class="page-home animate-up">
      <main class="simulacao">
        <div class="grafo">
          <img src="{% static 'images/grafo.png' %}" alt="Foto do grafo">
        </div>
      </main>
    </div>
    <div class="page-home animate-up">
      <main class="simulacao">
        <ul class="lista_clientes">
          <li style="display: flex">
            <a class="clients">Cliente n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
          </li>
          <li style="display: flex">
            <a class="clients">Cliente n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
          </li>
          <li style="display: flex">
            <a class="clients">Cliente n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
            <a class="clients">Escolha n1</a>
          </li>
        </ul>
      </main>
    </div>
  </body>


</html>
